/****** Object:  Table [dbo].[DAILY]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY](
	[MADAILY] [varchar](10) NOT NULL,
	[TENDAILY] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADAILY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKI]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKI](
	[MADKI] [int] IDENTITY(1,1) NOT NULL,
	[MADAILY] [varchar](10) NOT NULL,
	[NGAYDK] [date] NOT NULL,
	[DANGKI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADKI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOTPHATHANH]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTPHATHANH](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MAVS] [varchar](10) NOT NULL,
	[MADAILY] [varchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAY] [date] NOT NULL,
	[SOLUONGBAN] [int] NULL,
	[DOANHTHU] [decimal](19, 3) NULL,
	[HOAHONG] [decimal](2, 0) NULL,
	[SOTIENPHAITHU] [decimal](19, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAI]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAI](
	[MAGIAI] [varchar](10) NOT NULL,
	[GIAI] [nvarchar](50) NOT NULL,
	[SOTIENTRUNG] [decimal](19, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KQXS]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KQXS](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MAVS] [varchar](10) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MAGIAI] [varchar](10) NOT NULL,
	[SOTRUNG] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIVESO]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIVESO](
	[MAVS] [varchar](10) NOT NULL,
	[TINH] [nvarchar](50) NOT NULL,
	[THU] [nvarchar](50) NOT NULL,
	[GIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUCHI]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHI](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[SOTIEN] [decimal](19, 3) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MADAILY] [varchar](10) NOT NULL,
	[NGAY] [date] NOT NULL,
	[SOTIEN] [decimal](19, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DAILY] ([MADAILY], [TENDAILY], [DIACHI], [SDT]) VALUES (N'DL01', N'Minh Hiền', N'123 Nguyễn Kiệm, Phú Nhuận', N'0901231112')
INSERT [dbo].[DAILY] ([MADAILY], [TENDAILY], [DIACHI], [SDT]) VALUES (N'DL02', N'Kế Thanh', N'56 An Dương Vương, Quận 5', N'01207708421')
INSERT [dbo].[DAILY] ([MADAILY], [TENDAILY], [DIACHI], [SDT]) VALUES (N'DL03', N'Hồ Chí Minh', N'1 Nguyễn Thái Học, Quận 3', N'02838417256')
SET IDENTITY_INSERT [dbo].[DANGKI] ON 

INSERT [dbo].[DANGKI] ([MADKI], [MADAILY], [NGAYDK], [DANGKI]) VALUES (1, N'DL01', CAST(N'2018-02-23' AS Date), 100)
INSERT [dbo].[DANGKI] ([MADKI], [MADAILY], [NGAYDK], [DANGKI]) VALUES (2, N'DL02', CAST(N'2018-03-22' AS Date), 150)
INSERT [dbo].[DANGKI] ([MADKI], [MADAILY], [NGAYDK], [DANGKI]) VALUES (3, N'DL03', CAST(N'2018-04-21' AS Date), 100)
SET IDENTITY_INSERT [dbo].[DANGKI] OFF
SET IDENTITY_INSERT [dbo].[DOTPHATHANH] ON 

INSERT [dbo].[DOTPHATHANH] ([STT], [MAVS], [MADAILY], [SOLUONG], [NGAY], [SOLUONGBAN], [DOANHTHU], [HOAHONG], [SOTIENPHAITHU]) VALUES (1, N'TN39-T09', N'DL01', 100, CAST(N'2018-10-04' AS Date), 80, CAST(800000.000 AS Decimal(19, 3)), CAST(10 AS Decimal(2, 0)), CAST(720000.000 AS Decimal(19, 3)))
INSERT [dbo].[DOTPHATHANH] ([STT], [MAVS], [MADAILY], [SOLUONG], [NGAY], [SOLUONGBAN], [DOANHTHU], [HOAHONG], [SOTIENPHAITHU]) VALUES (2, N'AG67-T03', N'DL01', 100, CAST(N'2018-10-04' AS Date), 90, CAST(900000.000 AS Decimal(19, 3)), CAST(10 AS Decimal(2, 0)), CAST(810000.000 AS Decimal(19, 3)))
INSERT [dbo].[DOTPHATHANH] ([STT], [MAVS], [MADAILY], [SOLUONG], [NGAY], [SOLUONGBAN], [DOANHTHU], [HOAHONG], [SOTIENPHAITHU]) VALUES (3, N'BTH86-T10', N'DL01', 100, CAST(N'2018-10-04' AS Date), 100, CAST(1000000.000 AS Decimal(19, 3)), CAST(10 AS Decimal(2, 0)), CAST(900000.000 AS Decimal(19, 3)))
SET IDENTITY_INSERT [dbo].[DOTPHATHANH] OFF
INSERT [dbo].[GIAI] ([MAGIAI], [GIAI], [SOTIENTRUNG]) VALUES (N'', N'', NULL)
INSERT [dbo].[GIAI] ([MAGIAI], [GIAI], [SOTIENTRUNG]) VALUES (N'GI01', N'Giải nhất', CAST(30000000.000 AS Decimal(19, 3)))
INSERT [dbo].[GIAI] ([MAGIAI], [GIAI], [SOTIENTRUNG]) VALUES (N'GI02', N'Giải nhì', CAST(15000000.000 AS Decimal(19, 3)))
SET IDENTITY_INSERT [dbo].[KQXS] ON 

INSERT [dbo].[KQXS] ([STT], [MAVS], [NGAY], [MAGIAI], [SOTRUNG]) VALUES (1, N'TP32-T08', CAST(N'2018-10-06' AS Date), N'GI01', N'77282')
INSERT [dbo].[KQXS] ([STT], [MAVS], [NGAY], [MAGIAI], [SOTRUNG]) VALUES (2, N'TP32-T08', CAST(N'2018-10-06' AS Date), N'GI02', N'75104')
INSERT [dbo].[KQXS] ([STT], [MAVS], [NGAY], [MAGIAI], [SOTRUNG]) VALUES (3, N'TP32-T08', CAST(N'2018-10-06' AS Date), N'GI03', N'42663')
SET IDENTITY_INSERT [dbo].[KQXS] OFF
INSERT [dbo].[LOAIVESO] ([MAVS], [TINH], [THU], [GIA]) VALUES (N'AG67-T03', N'An Giang', N'Thứ Hai', 10000)
INSERT [dbo].[LOAIVESO] ([MAVS], [TINH], [THU], [GIA]) VALUES (N'BD53-T12', N'Bình Dương', N'Thứ Năm', 10000)
INSERT [dbo].[LOAIVESO] ([MAVS], [TINH], [THU], [GIA]) VALUES (N'BL31-T07', N'Bạc Liêu', N'Thứ Ba', 10000)
SET IDENTITY_INSERT [dbo].[PHIEUCHI] ON 

INSERT [dbo].[PHIEUCHI] ([STT], [NGAY], [SOTIEN], [NOIDUNG]) VALUES (1, CAST(N'2018-10-05T00:00:00.000' AS DateTime), CAST(2000000000.000 AS Decimal(19, 3)), N'Trúng giải đặc biệt')
INSERT [dbo].[PHIEUCHI] ([STT], [NGAY], [SOTIEN], [NOIDUNG]) VALUES (2, CAST(N'2018-10-06T00:00:00.000' AS DateTime), CAST(80000001.000 AS Decimal(19, 3)), N'Trúng 8 giải tám')
SET IDENTITY_INSERT [dbo].[PHIEUCHI] OFF
SET IDENTITY_INSERT [dbo].[PHIEUTHU] ON 

INSERT [dbo].[PHIEUTHU] ([STT], [MADAILY], [NGAY], [SOTIEN]) VALUES (2, N'DL03', CAST(N'2018-10-05' AS Date), CAST(500000.000 AS Decimal(19, 3)))
INSERT [dbo].[PHIEUTHU] ([STT], [MADAILY], [NGAY], [SOTIEN]) VALUES (3, N'DL04', CAST(N'2018-10-06' AS Date), CAST(1000000.000 AS Decimal(19, 3)))
INSERT [dbo].[PHIEUTHU] ([STT], [MADAILY], [NGAY], [SOTIEN]) VALUES (4, N'DL02', CAST(N'2018-10-06' AS Date), CAST(1000000.000 AS Decimal(19, 3)))
SET IDENTITY_INSERT [dbo].[PHIEUTHU] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DAILY__CA1930A51E7A6ADD]    Script Date: 10/17/2018 9:36:52 AM ******/
ALTER TABLE [dbo].[DAILY] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOTPHATHANH] ADD  DEFAULT (NULL) FOR [SOLUONGBAN]
GO
ALTER TABLE [dbo].[DOTPHATHANH] ADD  DEFAULT (NULL) FOR [SOTIENPHAITHU]
GO
ALTER TABLE [dbo].[LOAIVESO] ADD  DEFAULT ((10000)) FOR [GIA]
GO
ALTER TABLE [dbo].[DANGKI]  WITH CHECK ADD FOREIGN KEY([MADAILY])
REFERENCES [dbo].[DAILY] ([MADAILY])
GO
ALTER TABLE [dbo].[DOTPHATHANH]  WITH CHECK ADD FOREIGN KEY([MADAILY])
REFERENCES [dbo].[DAILY] ([MADAILY])
GO
ALTER TABLE [dbo].[DOTPHATHANH]  WITH CHECK ADD FOREIGN KEY([MAVS])
REFERENCES [dbo].[LOAIVESO] ([MAVS])
GO
ALTER TABLE [dbo].[KQXS]  WITH CHECK ADD FOREIGN KEY([MAGIAI])
REFERENCES [dbo].[GIAI] ([MAGIAI])
GO
ALTER TABLE [dbo].[KQXS]  WITH CHECK ADD FOREIGN KEY([MAVS])
REFERENCES [dbo].[LOAIVESO] ([MAVS])
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD FOREIGN KEY([MADAILY])
REFERENCES [dbo].[DAILY] ([MADAILY])
GO
/****** Object:  StoredProcedure [dbo].[CONGNO]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CONGNO] 
@MADAILY VARCHAR(10),
@NGAY DATE
AS
BEGIN
	DECLARE @CN DECIMAL (19,3) , @SUM_STPT DECIMAL (19,3), @SUM_STDT DECIMAL (19,3)
	SELECT @SUM_STPT = SUM(SOTIENPHAITHU) FROM dbo.DOTPHATHANH WHERE MADAILY = @MADAILY AND NGAY < = @NGAY AND SOLUONGBAN > 0
	SELECT @SUM_STDT = SUM(SOTIEN) FROM dbo.PHIEUTHU WHERE MADAILY = @MADAILY AND NGAY < = @NGAY 
	SET @CN = @SUM_STPT - @SUM_STDT
	PRINT @CN
END
GO
/****** Object:  StoredProcedure [dbo].[DOANHTHU]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DOANHTHU]
AS
BEGIN
	declare @SUM_THU DECIMAL(19,3), @SUM_CHI DECIMAL(19,3), @NGAY DATE, @DOANHTHUTHANG DECIMAL(19,3)
	SET @NGAY = (SELECT GETDATE())
	SELECT @SUM_THU = SUM(SOTIEN) FROM dbo.PHIEUTHU WHERE MONTH(NGAY) = MONTH(@NGAY)
	SELECT @SUM_CHI = SUM(SOTIEN) FROM dbo.PHIEUCHI WHERE MONTH(NGAY) = MONTH(@NGAY)  
	SET @DOANHTHUTHANG = @SUM_THU - @SUM_CHI
	PRINT @DOANHTHUTHANG
END
GO
/****** Object:  StoredProcedure [dbo].[PHATHANH]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PHATHANH]
AS
BEGIN
	DECLARE @DaiLy TABLE(ID INT IDENTITY(1, 1), MADAILY VARCHAR(MAX))
	DECLARE @VeSo TABLE(ID INT IDENTITY(1, 1), MAVS VARCHAR(MAX))

	DECLARE @Thu NVARCHAR(MAX) = (
		SELECT CASE DATEPART(DW, GETDATE())
			WHEN 1 THEN N'Chủ Nhật'
			WHEN 2 THEN N'Thứ Hai'
			WHEN 3 THEN N'Thứ Ba'
			WHEN 4 THEN N'Thứ Tư'
			WHEN 5 THEN N'Thứ Năm'
			WHEN 6 THEN N'Thứ Sáu'
			WHEN 7 THEN N'Thứ Bảy'
		END
	)

	INSERT INTO @DaiLy SELECT MaDaiLy FROM DAILY
	INSERT INTO @VeSo SELECT MAVS FROM LOAIVESO WHERE THU = @Thu

	DECLARE @CDaiLy INT = (SELECT COUNT(*) FROM @DaiLy)
	DECLARE @CVeSo INT = (SELECT COUNT(*) FROM @VeSo)

	DECLARE @i INT = 1
	DECLARE @j INT  = 1

	WHILE @i <= @CDaiLy
	BEGIN
		SET @j = 1
		DECLARE @MaDaiLy VARCHAR(MAX) = (SELECT MADAILY FROM @DaiLy WHERE ID = @i)
		WHILE @j <= @CVeSo
		BEGIN
			DECLARE @MaVS VARCHAR(MAX) = (SELECT MAVS FROM @VeSo WHERE ID = @j)
			IF NOT EXISTS (
				SELECT * FROM DOTPHATHANH
				WHERE MADAILY = @MaDaiLy AND MAVS = @MaVS
					AND CAST(NGAY AS DATE) = CAST(GETDATE() AS DATE)
			)
				EXEC dbo.SOLUONGGIAO @MaDaiLy, @MaVS
			SET @j = @j + 1
		END
		SET @i = @i + 1
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SOLUONGGIAO]    Script Date: 10/17/2018 9:36:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------TINH SO LUONG GIAO CUA DOT PHAT HANH KHI THEM -------------------------
CREATE PROCEDURE [dbo].[SOLUONGGIAO] 
@MADAILY VARCHAR(10),
@MALOAIVESO VARCHAR(20)
AS
BEGIN
	-- So luong dang ky moi nhat
	DECLARE @SLDK INT = ISNULL((SELECT TOP 1 DANGKI FROM DANGKI WHERE MaDaiLy = @MADAILY ORDER BY NgayDK DESC), 0)

	-- So luong dot phát hành vé cho dai lý, chua có dot phát hành nào thì dph = 1 do tránh loi divide by zero, lon hon 3 thì ch? lay 3
	DECLARE @Count INT = (SELECT COUNT(*) FROM DOTPHATHANH WHERE MaDaiLy = @MADAILY AND SOLUONGBAN IS NOT NULL)
	IF @Count = 0 SET @Count = 1 ELSE IF @Count > 3 SET @Count = 3

	DECLARE @SLG INT = (
		SELECT (ISNULL(SUM(SOLUONGBAN * 1.0 / SoLuong), 0) / @Count) * @SLDK FROM (
			SELECT TOP 3 * FROM DOTPHATHANH
			WHERE MaDaiLy = @MADAILY AND SOLUONGBAN IS NOT NULL ORDER BY NGAY DESC
		) q 
	)
	INSERT INTO DOTPHATHANH(MADAILY, MAVS, NGAY, SOLUONG, HOAHONG)
	values( @MADAILY, @MALOAIVESO, GETDATE(), @SLG, 10) 
END
GO
